
header {
    background-color: #fedabe;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px 0 rgba(128, 128, 128, 0.493);
}

header * {
    display: inline;
}

header li{
    margin: 60px;
    
    color: #d9624b;
    font-family: Arial, Helvetica, sans-serif;
    
}

header li a {
    color: #d9624b;;
    text-decoration: none;
}

header #logo {
    width: 80px;
    margin-left: 40px;
   
}



form {
    max-width: 1300px;
    margin: auto;
    justify-content: center;
    align-content: center;
    font-family: Helvetica;
    display: flex;
}

input {
    font-size: 2em;
    font-weight: 100;
    font-family: Helvetica;
    background-color: lightgray;
    color: black;
    border: none;
    border: solid 1px #ccc;
    border-radius: 5px; 
}
    
.required {
    font-style: normal;
    &:before
    content: " ";
}
   
label {
    font-size: 28px;
    padding: 0;
    margin-bottom: 10px;
    font-weight: 700;
}
    
  
body {
    background-image: url(https://media.istockphoto.com/id/880710798/vector/seamless-vector-bakery-pastry-pattern.jpg?s=612x612&w=0&k=20&c=e5TN-lIQoRhqrdIoJhUs_VfhzcmDxEY869s6s1SRYF8=);
    background-color: white;
}
  
legend {
    font-size: 3em;
    padding: 0;
    margin-bottom: 10px;
    font-weight: 700;
    color: #d9624b;
}

.form {
    display: flex;
}


select {
    width: 395px;
    height: 40px;
    background-color: #ccc;
    border: none;
    border: solid 1px #ccc;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 100px;
    color: #d9624b;
    margin-top: 200px;
}

.datos-basicos, .datos-pedido, .datos-envio {
    display: block;
    width: 400px;
    height: 400px;
    border: none;
    border-radius: 5px;
    margin-right: 50px;
    box-shadow: 2px 2px 5px rgba(54, 54, 54, 0.288);
    padding: 2em;
    background-color: white;
}

.datos-envio {
    height: auto;
}



.opciones-envio label {
    font-size: 15px;
    cursor: pointer;
}

.opciones-envio input {
    cursor: pointer;
}

.datos-pedido select {
    cursor: pointer;
}